<style type="text/css">
.nav-noti-popover {
  width: 200px;
  height: 240px;
}
.nav-noti-popover ul.nav li {
  width: 33%;
  margin: 0;
  text-align: center;
}
.nav-noti-loading {
  text-align: center;
  padding: 10px 0 10px;
  color: #ccc;
}

.scrollbar-macosx {
  height: 200px;
}
</style>

<%- include_css("//cdn.bootcss.com/jquery.scrollbar/0.2.11/jquery.scrollbar.min.css"); %>
<%- include_js("//cdn.bootcss.com/jquery.scrollbar/0.2.11/jquery.scrollbar.min.js"); %>

<li>
  <a id="nav-noti-btn" href="#" onclick="javascript:;">
    消息
    <span class="badge"></span>
  </a>
  <div class="nav-noti-popover" hidden>
    <!-- Nav tabs -->
    <ul class="nav nav-pills">
      <li class="active"><a href="#nav-tab-content-event" data-toggle="tab">
        <i class="fa fa-list"></i>
      </a></li>
      <li><a href="#nav-tab-content-follow" data-toggle="tab">
        <i class="fa fa-users"></i>
      </a></li>
      <li><a href="#nav-tab-content-like" data-toggle="tab">
        <i class="fa fa-heart"></i>
      </a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="nav-tab-content-event">
        <div class="scrollbar-macosx">
          <div class="nav-noti-loading">
            <i class="fa fa-spinner fa-pulse fa-2x"></i>
          </div>
          <ul class="list-group" style="margin: 0;">
          </ul>
        </div>
      </div>
      <div class="tab-pane" id="nav-tab-content-follow">
        TODO: follow notifications list
      </div>
      <div class="tab-pane" id="nav-tab-content-like">
        TODO: like notifications list
      </div>
    </div>
  </div>
</li>

<script type="text/javascript">
  $(function() {
    var $navNotiBtn = $('#nav-noti-btn');
    var $notiCount = $navNotiBtn.find('.badge');
    
    // count badge
    var countNotification = function() {
      $.ajax({
        type: 'GET',
        url: '/api/Notifications/count?where={"is_read":false}',
      }).success(function(res) {
        var count = res.count;
        if(count) {
          $notiCount.text(count);
        } else {
          $notiCount.text('');
        }
      }).error(function(err) {
        console.log(err);
      });
    }

    setInterval(countNotification, 5000);
    countNotification();

    // popover
    var popoverContent = 
      $navNotiBtn
        .siblings('.nav-noti-popover')
        .remove()
        .html()
        .trim();
    popoverContent = '<div class="nav-noti-popover">' + popoverContent + '</div>';

    $navNotiBtn.popover({
      html: true,
      content: popoverContent,
      placement: 'bottom',
    });
    // 点击页面其余区域时，时关闭 popover
    $('body').click(function (event) {
      var $target = $(event.target);
      if($target[0] !== $navNotiBtn[0]
      && !$navNotiBtn.has($target[0]).length
      && !$target.closest('.popover-content').length) {
        $navNotiBtn.popover('hide');
      }
    });

    $navNotiBtn.on('shown.bs.popover', function() {
      $('.scrollbar-macosx').scrollbar({
        onScroll: function(y, x){
          if(y.maxScroll && y.scroll === y.maxScroll){
            console.log('Scrolled to bottom');
          }
        }
      });

      // tabs
      var $tabs = $('a[data-toggle="tab"]');
      var contents = {
        'event': $('#nav-tab-content-event'),
        'follow': $('#nav-tab-content-follow'),
        'like': $('#nav-tab-content-like'),
      };
      $tabs.on('shown.bs.tab', function (e) {
        var $tab = $(e.target);
        var tabName = $tab.attr('href').substr('#nav-tab-content-'.length);
        tabShow(tabName, $tab, contents[tabName]); // activated tab
      });

      // on tab show
      var notifications = {
        'event': [],
        'follow': [],
        'like': [],
      };
      var tabShow = function(tabName, $tab, $content) {
        pullNotis(tabName, $tab, $content);
      };

      // pull new notis
      var pullNotis = function(tabName, $tab, $content) {
        var $loading = $content.find('.nav-noti-loading');
        var $notiList = $content.find('ul');

        var notis = notifications[tabName];
        var filter = { where: {} };
        if(notis.length) {
          filter.where.created_at = {
            gt: notis[notis.length - 1].created_at
          };
        }
        $.ajax({
          type: 'GET',
          url: '/api/Notifications?filter=' + JSON.stringify(filter),
        }).success(function(newNotis) {
          $loading.animate({ height: 0, padding: 0 }, 200, function() { $loading.hide(); });
          newNotis.forEach(function(noti) {
            $notiList.prepend('<li class="list-group-item">' + noti.html + '</li>');
          });
          notifications[tabName] = notis.concat(newNotis);
        }).error(function(err) {
          console.log(err);
        });
      }

      // after all
      $tabs.first().trigger('shown.bs.tab');
    });
  }); 
</script>
