<style type="text/css">
.popover {
  max-width: initial;
}
.nav-noti-popover {
  width: 260px;
  height: 360px;
}
.nav-noti-popover ul.nav li {
  width: 33.33%;
  margin: 0;
  text-align: center;
}
.nav-noti-popover ul.nav li a {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.nav-noti-popover .tab-pane .list-group {
  margin: 0;
}
.nav-noti-popover .tab-pane .list-group-item {
  border: none;
  border-top: solid 1px #eee;
  border-radius: 0;
}
.nav-noti-popover .tab-pane .list-group-item:first-child {
  border-top: none;
}
.nav-noti-popover .tab-pane .list-group-item.unread {
  background-color: rgba(51, 122, 183, .1);
}


.nav-noti-loading {
  text-align: center;
  padding: 10px 0 10px;
  color: #ccc;
}

.scrollbar-macosx {
  height: 220px;
}
</style>

<%- include_css("//cdn.bootcss.com/jquery.scrollbar/0.2.11/jquery.scrollbar.min.css"); %>
<%- include_js("//cdn.bootcss.com/jquery.scrollbar/0.2.11/jquery.scrollbar.min.js"); %>

<li>
  <a id="nav-noti-btn" href="#" onclick="javascript:;">
    消息
    <span class="badge"></span>
  </a>
  <div class="nav-noti-popover" hidden>
    <!-- Nav tabs -->
    <ul class="nav nav-pills">
      <li class="active"><a href="#nav-tab-content-event" data-toggle="tab">
        <i class="fa fa-list"></i>
      </a></li>
      <li><a href="#nav-tab-content-follow" data-toggle="tab">
        <i class="fa fa-users"></i>
      </a></li>
      <li><a href="#nav-tab-content-like" data-toggle="tab">
        <i class="fa fa-heart"></i>
      </a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="nav-tab-content-event">
        <div class="scrollbar scrollbar-macosx">
          <ul class="list-group">
          </ul>
          <div class="nav-noti-loading">
            <i class="fa fa-spinner fa-pulse"></i>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="nav-tab-content-follow">
        TODO: follow notifications list
      </div>
      <div class="tab-pane" id="nav-tab-content-like">
        TODO: like notifications list
      </div>
    </div>
  </div>
</li>

<script type="text/javascript">
  $(function() {
    var $navNotiBtn = $('#nav-noti-btn');
    var $notiCount = $navNotiBtn.find('.badge');
    
    // count badge
    var countNotification = function() {
      $.ajax({
        type: 'GET',
        url: '/api/Notifications/count?where={"is_read":false}',
      }).success(function(res) {
        var count = res.count;
        if(count) {
          $notiCount.text(count);
        } else {
          $notiCount.text('');
        }
      }).error(function(err) {
        console.log(err);
      });
    }

    setInterval(countNotification, 5000);
    countNotification();

    // popover
    // 对应的 div 被转化成 html
    // 随后这个 div 会被移除
    var popoverContent =
      $navNotiBtn
        .siblings('.nav-noti-popover')
        .remove()
        .html()
        .trim();
    popoverContent = '<div class="nav-noti-popover">' + popoverContent + '</div>';

    $navNotiBtn.popover({
      html: true,
      content: popoverContent,
      placement: 'bottom',
    });
    // 点击页面其余区域时，时关闭 popover
    $('body').click(function (event) {
      var $target = $(event.target);
      if($target[0] !== $navNotiBtn[0]
      && !$navNotiBtn.has($target[0]).length
      && !$target.closest('.popover-content').length) {
        $navNotiBtn.popover('hide');
      }
    });

    // tabs
    $navNotiBtn.on('shown.bs.popover', function() {
      // popover 的实例每次都是不同的
      // 所以 popover 内部的这些代码每次都要执行

      // tabs
      var $tabs = $('a[data-toggle="tab"]');
      $tabs.on('shown.bs.tab', function (e) {
        var $tab = $(e.target);
        var tabName = $tab.attr('href').substr('#nav-tab-content-'.length);
        tabShow(tabName); // activated tab
      });

      // on tab show
      var contents = {
        'event': $('#nav-tab-content-event'),
        'follow': $('#nav-tab-content-follow'),
        'like': $('#nav-tab-content-like'),
      };
      var notifications = {
        'event': [],
        'follow': [],
        'like': [],
      };
      var pulling = {
        'event': false,
        'follow': false,
        'like': false,
      }
      var tabShow = function(tabName) {
        pullNotis(tabName);
        pulling[tabName] = false;
      };

      // pull new notis
      var pullNotis = function(tabName, $content) {
        var $content = contents[tabName];;

        var $loading = $content.find('.nav-noti-loading');
        var $notiList = $content.find('ul');

        var notis = notifications[tabName];
        var filter = { where: {} };
        if(notis.length) {
          filter.where.created_at = {
            gt: notis[notis.length - 1].created_at
          };
        }

        $loading.css('opacity', 1);
        $.ajax({
          type: 'GET',
          url: '/api/Notifications?filter=' + JSON.stringify(filter),
        }).success(function(newNotis) {
          newNotis.forEach(function(noti) {
            var notiHtml = '<li class="list-group-item';
            if(!noti.is_read) {
              notiHtml += ' unread';
            }
            notiHtml += '">' + noti.html + '</li>'
            $notiList.append(notiHtml);
          });
          notifications[tabName] = notis.concat(newNotis);

          $loading.animate({opacity: 0}, function() {
            pulling[tabName] = false;
          });
        }).error(function(err) {
          console.log(err);
          pulling[tabName] = false;
        });
      }

      // 触发第一个 tab 的显示事件
      $tabs.first().trigger('shown.bs.tab');

      // 处理 noti 列表的 scrollbars
      $('.scrollbar-macosx').scrollbar({
        disableBodyScroll: true,
        onScroll: function(y, x){
          if(y.maxScroll && y.scroll === y.maxScroll && !pulling[tabName]) {
            var tabName = $(this.container)
              .closest('.tab-pane')
              .attr('id')
              .substr('nav-tab-content-'.length);
            pulling[tabName] = true;
            pullNotis(tabName);
          }
        }
      });
    });
  }); 
</script>
