<%- include(_v + '/commen/header') %>

<div class="row">
  <div class="well" style="max-width: 320px;margin: 0 auto;">
    <h3>设置管理员</h3>
    <hr>

    <div id="form" class="clearfix">
    <%- include(_v + '/component/form/form', {
        opt: {
          id: 'form',
          fields: [{
            name: 'username',
            vali: 'username',
            label: '用户名',
          },{
            name: 'email',
            vali: 'email',
            label: '邮箱',
          },{
            name: 'password',
            type: 'password',
            vali: 'password',
            label: '密码',
          },{
            name: 'password-repeat',
            type: 'password',
            vali: 'sameAs("password")',
            label: '重复密码',
          },
          '<hr>'],
        },
      }); %>
    </div>

    <button id="form-submit" class="btn btn-default btn-block">提交</button>
  </div>
</div>

<script type="text/javascript">
$(function() {
  var $submitBtn = $('#form-submit');
  $submitBtn.on('click', function() {
    var form = $('#form').c();
    var validation = form.validate();
    if(validation !== true) {
      return;
    }

    var formData = form.val();
    delete formData['password-repeat'];

    $submitBtn.attr('disabled', true);
    $.ajax({
      type: 'POST',
      data: formData,
    }).success(function(msg) {
      window.location.href = '/install/uploader';
    }).error(function(err) {
      $submitBtn.attr('disabled', false);
    });
  });
});
</script>

<%- include(_v + '/commen/footer') %>
