<%- include(_v + '/commen/header') %>

<div class="row">
  <div class="well" style="max-width: 320px;margin: 0 auto;">
    <h3>设置数据源</h3>
    <hr>
    <%- include(_v + '/component/form/form', {
        id: 'form', 
        fields: [{
          type: 'combobox',
          opt: {
            name: 'usn',
            options: [
              'a',
              'b',
              'c',
            ],
            label: '数据库',
          },
        },{
          type: 'input',
          opt: {
            name: 'host',
            type: 'text',
            validate: 'text',
            label: 'host',
          },
        }],
        submitBtn: {
          text: '提交',
          position: 'right',
        }
      }); %>
  </div>
</div>

<script type="text/javascript">
$(function() {
  $('#form').bind('submit', function(ev, form) {
    console.log(form)
    $.ajax({
      type: 'POST',
      data: form,
    }).success(function(msg) {
      console.log(msg);
    }).error(function(err) {
      console.log(err);
    });
  });
});
</script>

<%- include(_v + '/commen/footer') %>
