<%- include(_v + '/commen/header') %>

<div class="row">
  <div class="well" style="max-width: 320px;margin: 0 auto;">
    <h3>创建管理员账号</h3>
    <hr>
    <%- include(_v + '/component/form/form', {
        id: 'form', 
        items: [{
          name: 'usn',
          type: 'text',
          validate: 'username',
          label: '用户名',
        },{
          name: 'email',
          type: 'email',
          validate: 'email',
          label: '邮箱',
        },{
          name: 'pwd',
          type: 'password',
          validate: 'password',
          label: '密码',
        },{
          name: 'pwd',
          type: 'password',
          validate: 'password',
          label: '重复密码',
        }],
        submitBtn: {
          text: '提交',
          position: 'right',
        }
      }); %>
  </div>
</div>

<script type="text/javascript">
$(function() {
  $('#form').bind('submit', function(ev, form) {
    console.log(form)
    $.ajax({
      type: 'POST',
      data: form,
    }).success(function(msg) {
      console.log(msg);
    }).error(function(err) {
      console.log(err);
    });
  });
});
</script>

<%- include(_v + '/commen/footer') %>
