<%- include(_v + '/commen/header') %>

<div class="row">
<div class="col-sm-4 col-sm-offset-4">
  <div class="panel panel-default">
    <div class="panel-heading" style="text-align:center;font-weight:bold;">
      登录
    </div>
    <div class="panel-body">
      <div id="form" class="clearfix">
      <%- include(_v + '/component/form/form', {
          opt: {
            id: 'form',
            fields: [{
              name: 'username',
              vali: 'notEmpty',
              label: '用户名或邮箱',
            },{
              name: 'password',
              type: 'password',
              vali: 'notEmpty',
              label: '密码',
            },
            '<hr>'],
          },
        }); %>
      </div>
      <button class="btn btn-default btn-block" id="submit-btn">登录</button>
      <div style="text-align:center; margin-top:20px;">
        没有账号？
        <a href="/register">注册</a>&nbsp;一个！
      </div>
    </div>
  </div>
</div>
</div>

<script type="text/javascript">
$(function() {
  var $submitBtn = $('#submit-btn');
  $submitBtn.on('click', function() {
    var form = $('#form').c();
    var validation = form.validate();
    if(validation !== true) {
      return;
    }

    var formData = form.val();

    $submitBtn.attr('disabled', true);
    $.ajax({
      url: '/api/users/login',
      type: 'POST',
      data: formData,
    }).success(function(msg) {
      window.location.href = '/';
    }).error(function(err) {
      $submitBtn.attr('disabled', false);
    });
  });
});
</script>

<%- include(_v + '/commen/footer') %>
