<%- include(_v + '/commen/header') %>

<div class="row">
  <div class="col-sm-6 well">
    <h3>富文本编辑器(wangEditor)</h3>
    <hr>

    <%- include(_v + '/component/wang-editor', {
      id: 'rich-editor',
    }); %>

  </div>
</div>

<%- include(_v + '/commen/footer') %>
