<%- include(_v + '/commen/header') %>

<div class="row">
  <div class="col-sm-4 well">
    <h3>文件上传 (<%- config.uploadConf.default %>)</h3>
    <hr>

    <div id="form" class="clearfix">
    <%- include(_v + '/component/form/form', {
        opt: {
          id: 'form',
          fields: [{
            type: 'file',
            opt: {
              name: 'file',
              vali: 'notEmpty',
              label: '文件',
            }
          },
          '<hr>'],
        },
      }); %>
    </div>
    <button id="submit" class="btn btn-default btn-block">提交</button>
    <script type="text/javascript">
    $(function() {
      $('#submit').on('click', function() {
        var form = $('#form').c();
        var validation = form.validate();
        if(validation !== true) {
          return;
        }

        console.log(form.val())
      });
    });
    </script>

  </div>
</div>

<%- include(_v + '/commen/footer') %>
