<%- include(_v + '/commen/header') %>

<div class="row">
  <div class="well" style="max-width: 320px;margin: 0 auto;">
    <h3>文件上传测试</h3>
    <hr>

    <div id="form" class="clearfix">
    <%- include(_v + '/component/form/form', {
        opt: {
          id: 'form',
          fields: [{
            type: 'file',
            opt: {
              name: 'file',
              vali: 'notEmpty',
              label: '文件',
            }
          },
          '<hr>'],
        },
      }); %>
    </div>

    <button id="form-submit" class="btn btn-default btn-block">提交</button>
  </div>
</div>

<script type="text/javascript">
$(function() {


  $('#form-submit').on('click', function() {
    var form = $('#form').c();
    var validation = form.validate();
    if(validation !== true) {
      return;
    }

    var fileInput = form.fieldComponents['file'];
    fileInput.upload();
  });
});
</script>

<%- include(_v + '/commen/footer') %>
