<%- include(_v + '/commen/header') %>

<div class="row">
  <div class="col-sm-4 well">
    <h3>文件上传 (<%- config.uploadConf.default %>)</h3>
    <hr>

    <div id="form-server" class="clearfix">
    <%- include(_v + '/component/form/form', {
        opt: {
          id: 'form-server',
          fields: [{
            type: 'file',
            opt: {
              name: 'file',
              vali: 'notEmpty',
              label: '文件',
            }
          },
          '<hr>'],
        },
      }); %>
    </div>
    <button id="server-submit" class="btn btn-default btn-block">提交</button>
    <script type="text/javascript">
    $(function() {
      $('#server-submit').on('click', function() {
        var form = $('#form-server').c();
        var validation = form.validate();
        if(validation !== true) {
          return;
        }

        var fileInput = form.fieldComponents['file'];
        fileInput.upload();
      });
    });
    </script>

  </div>
</div>

<%- include(_v + '/commen/footer') %>
